*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    box-shadow: 20px 30px 10px black;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

nav ul li{

display: inline-block;

}
nav ul li a{
    color: rgb(1, 1, 14);
    padding: 20px 30px;
    display: block;
    font-size: 20px;
   transition: 0.3s;
   position: relative;
   z-index: 1;
}
nav ul li:hover a{

    color: white;
    
}
nav ul li a::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s;
    border-radius: 10px;
}
nav ul li:hover > a::before{
width: 100%;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
    border-radius: 10px;
    
}
nav ul li:hover > a::after{
width: 100%;
}

nav ul li ul{
    border-top: 2px solid rgb(28, 14, 224);
    position: absolute;
    padding-top: 5px;
    background-color: #f4f4f4;
    
    box-shadow: black ;  
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;
     opacity: 0;
     visibility: hidden;
     transition: 0.1s;
     margin-top: 50px;
}


nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

nav ul li ul li{
    display: block;
    border-bottom: 1px solid #ccc;
}
nav ul li ul li ul{
 left: 100%;
 top: 0;
 width: 250px;   
}